
body{
  background-color: #c8dad3;
  font-family: Poppins !important;
}
h1{
  color: #ffffff;
}
.content{
    width: 100% !important;
    margin-top: 100px;
}
.parent{
  margin-top: 10px;
  margin-bottom: 0;
   padding: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: #626f92;
  box-shadow: 1px 0px 2px #ffffff;
}
.left{
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTRHxiOYT8e4VnJt-2fLCwXl9SODT-jP-OLAUxgXuGgst92vcn9hZkWyeXjE9NkYRJSkmY&usqp=CAU');
  background-size: cover;
  
  border-radius: 10px 0 0 10px;
  margin: 0;
}
.overlay{
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 25px;
  height: 670px;
}
.headtitle{
  font-size: 36px;
  color: white;
  padding-top: 20px;
  font-weight: bolder;
  font-family: system-ui;
}
.top-form{
  margin-top: 30px;
}
.labels{
  font-family: monospace;
  font-weight: lighter;
  font-size: 25px;
  color: #6150c1;
}
.p-text{
  margin: 30px 30px 30px 10px;
  color: #ffffff;
  font-size: 20px;
  font-family: 'Khula', sans-serif;
}
.genders{
  margin-left: 50px;
}
.btn{
  margin-left: 50px;
  margin-top: 20px;
  height: 45px;
  width: 200px;
  border-radius: 20px;
}
.footertxt{
  color: #fdd043;
  font-size: 30px;
  font-weight: bold;
  margin: 80px 20px 20px 10px;
}
#result{
  margin-top: 30px;
  color: #000000;
  font-size: 28px;
}
.rounded-circle{
  margin-left: 40%;
}
form{
  background-color: aqua;
  margin-top: 50px;
  border-radius: 20px;
  padding: 20px;
}

.col-md-6{
  background-image: url(https://images.unsplash.com/photo-1620872912586-69f6e90ec004?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1189&q=80);
}
button{
  border-radius: 10px !important;
  background-color: green !important;
  font-size: 20px !important;
  padding: 10px;
  color: white;
  
}
/* Footer style */
footer {
  text-align: center;
  font-size: 18px;
  font-weight: 100;
  padding-top: 20px;
  background-color: #000F45;
  color: wheat;
  padding-bottom: 70px;
}
footer img{
  margin-left:20px ;
}