body{
    background-color: #395b95 !important;
}
#nav{
    border: solid white;
    padding: 5px;
    border-radius: 10px;
}
form{
    margin-top: 100px;
    background-color: thistle;
    padding: 20px 0px 50px 40px;
    width: 30%;
    border-radius: 20px;
}
button{
    background-color: green;
    border-radius: 30px !important;
    text-align: center;
    padding: 10px;
    color: white;
}
